@{
    ViewData["Title"] = "Home Page";
}

<h2>Bienvenido</h2>

<form asp-controller="Home" asp-action="LogIn" method="post" class="text-left">
    <span style="color:red;">@Context.Request.Query["message"]</span>
    <div class="form-group">
        <label>
            <span>Nombre de Usuario:</span>
            <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control" required/>
        </label>
    </div>
    <div class="form-group">
        <label>
            <span>Contraseña:</span>
            <input type="password" name="password" placeholder="Contraseña" class="form-control" required/>
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
