
@{
    ViewData["Title"] = "LogIn";
}

<h1>Bienvenido @Model.Nombre</h1>

<a asp-action="UsuarioIndex" asp-controller="Usuario">Lista de Usuarios</a> |
<a asp-action="PersonaIndex" asp-controller="Persona">Lista de Personas</a>