@using Business.Entities
@using Business.Logic
@{
    ViewData["Title"] = "LogIn";
}

@if(Model.PersonaAsociada == null)
    Model.PersonaAsociada = (new PersonaLogic()).GetOne(Model.ID_Persona);

<h1>Bienvenido @Model.Nombre</h1>

@if(Model.PersonaAsociada.TipoPersona == Persona.Tipo.Docente) {
    <div class="form-group">
        @Html.ActionLink("Registrar Nota", "RegistroNotasIndex", "RegistroNotas", new { per = Model.PersonaAsociada.ID }, null)
    </div>
}
@if(Model.PersonaAsociada.TipoPersona == Persona.Tipo.Alumno) {
    <div class="form-group">
        @Html.ActionLink("Inscribirse", "InscripcionCreate", "AlumnoInscripcion", new { per = Model.PersonaAsociada.ID })
    </div>
    <div class="form-group">
        @Html.ActionLink("Estado Académico", "InscripcionListado", "AlumnoInscripcion", new { id = Model.PersonaAsociada.ID })
    </div>
}
@if(Model.PersonaAsociada.TipoPersona == Persona.Tipo.Admin) {
    <div class="form-group">
        <a asp-action="UsuarioIndex" asp-controller="Usuario">Lista de Usuarios</a>
    </div>
    <div class="form-group">
        <a asp-action="PersonaIndex" asp-controller="Persona">Lista de Personas</a>
    </div>
    <div class="form-group">
        <a asp-action="EspecialidadIndex" asp-controller="Especialidad">Lista de Especialidades</a>
    </div>
    <div class="form-group">
        <a asp-action="PlanIndex" asp-controller="Plan">Lista de Planes</a>
    </div>
    <div class="form-group">
        <a asp-action="MateriaIndex" asp-controller="Materia">Lista de Materias</a>
    </div>
    <div class="form-group">
        <a asp-action="CursoIndex" asp-controller="Curso">Lista de Cursos</a>
    </div>
    <div class="form-group">
        <a asp-action="ComisionIndex" asp-controller="Comision">Lista de Comisiones</a>
    </div>
}
