
@{
    ViewData["Title"] = "LogIn";
}

<h1>Bienvenido @Model.Nombre</h1>

<a asp-action="UsuarioIndex" asp-controller="Usuario">Lista de Usuarios</a> |
<a asp-action="PersonaIndex" asp-controller="Persona">Lista de Personas</a> |
<a asp-action="EspecialidadIndex" asp-controller="Especialidad">Lista de Especialidades</a> |
<a asp-action="PlanIndex" asp-controller="Plan">Lista de Planes</a> |
<a asp-action="MateriaIndex" asp-controller="Materia">Lista de Materias</a> |
<a asp-action="CursoIndex" asp-controller="Curso">Lista de Cursos</a> |
<a asp-action="ComisionIndex" asp-controller="Comision">Lista de Comisiones</a> |