@model Business.Entities.Materia
@using Data.Database;
@{
    ViewData["Title"] = "MateriaEdit";
}

<h1>Modificar Materia</h1>

<h4>Materia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MateriaEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.ID)
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción:</label>
                <input asp-for="Descripcion" class="form-control" required/>
                <span asp-validation-for="Descripcion" class="text-danger">@if (Model.State == Business.Entities.BusinessEntity.States.Unmodified && string.IsNullOrWhiteSpace(Model.Descripcion))@Html.Raw("La descripción no debe estar vacía.")</span>
            </div>
            <div class="form-group">
                <label asp-for="HSSemanales" class="control-label">Horas semanales:</label>
                <input asp-for="HSSemanales" class="form-control" required min="1"/>
                <span asp-validation-for="HSSemanales" class="text-danger">@if (Model.State == Business.Entities.BusinessEntity.States.Unmodified && Model.HSSemanales < 1)@Html.Raw("Las horas semanales deben estar y deben ser un número entero positivo.")</span>
            </div>
            <div class="form-group">
                <label asp-for="HSTotales" class="control-label">Horas totales:</label>
                <input asp-for="HSTotales" class="form-control" required min="1"/>
                <span asp-validation-for="HSTotales" class="text-danger">@if (Model.State == Business.Entities.BusinessEntity.States.Unmodified && Model.HSTotales < 1 || Model.HSTotales < Model.HSSemanales)@Html.Raw("Las horas totales deben estar presentes, deben ser un número entero positivo y mayor a las semanales.")</span>
            </div>
            <div class="form-group">
                <label asp-for="IDPlan" class="control-label">Plan:</label>
                <select asp-for="IDPlan" asp-items="(new PlanAdapter()).GetAll().Select(p => new SelectListItem(p.Descripcion.ToString(), p.ID.ToString()))" required>
                </select>
                <span asp-validation-for="IDPlan" class="text-danger">@if (Model.State == Business.Entities.BusinessEntity.States.Unmodified && Model.IDPlan < 1)@Html.Raw("Debe elegir un plan.")</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MateriaIndex">Volver atrás</a>
</div>

