<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Hay que crear el usuario dentro de la base de datos, y yo tuve que activar la seguridad, pero por default estaba true.
		También tuve que cambiar la configuración de autenticación de servidor de "Windows Authentication mode" a "SQL Server and Windows Authentication mode"-->
		<add name="ConnStringLocal"
		providerName="System.Data.SqlClient"
		connectionString="Server=LAPTOP-CHEHT879\SQLEXPRESS;Database=tp2_net;Integrated Security=true; User=net; Password=net;"/>
		<!--<add name="ConnStringLocal"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=tp2_net;Integrated Security=false; User=net; Password=net;"/>-->
		<!--<add name="ConnStringExpress"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost\SQLEXPRESS;Database=tps_net;Integrated Security=false; User=net; Password=net;"/>
		<add name="ConnStringServerISI"
		providerName="System.Data.SqlClient"
		connectionString="Server=serverisi; Database=tp2_net; Integrated Security=false; User=net; Password=net;"/>-->
	</connectionStrings>
</configuration>
