@model Business.Entities.Curso
@using Data.Database;
@{
    ViewData["Title"] = "CursoCreate";
}

<h1>Alta de curso</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CursoCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AñoCalendario" class="control-label"></label>
                <input asp-for="AñoCalendario" class="form-control" />
                <span asp-validation-for="AñoCalendario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupo" class="control-label"></label>
                <input asp-for="Cupo" class="form-control" />
                <span asp-validation-for="Cupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDComision" class="control-label"></label>
                <select asp-for="IDComision" asp-items="(new ComisionAdapter()).GetAll().Select(p => new SelectListItem(p.Descripcion.ToString(), p.ID.ToString()))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IDMateria" class="control-label"></label>
                <select asp-for="IDMateria" asp-items="(new MateriaAdapter()).GetAll().Select(p => new SelectListItem(p.Descripcion.ToString(), p.ID.ToString()))">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CursoIndex">Volver atrás</a>
</div>

