@model Business.Entities.AlumnoInscripcion

@{
    ViewData["Title"] = "InscripcionCreate";
}

<h1>Nueva Inscripcion</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InscripcionCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IDAlumno" type="hidden"/>
            <div class="form-group">
                <label asp-for="IDCurso" class="control-label"></label>
                <input asp-for="IDCurso" class="form-control" />
                <span asp-validation-for="IDCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
