@model IEnumerable<Business.Entities.AlumnoInscripcion>
@using Business.Logic

@{
    ViewData["Title"] = "InscripcionListado";
}

<h1>Estado Académico</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Curso
            </th>
            <th>
                Condición
            </th>
            <th>
                Nota
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw((new CursoLogic()).GetOne(item.IDCurso).Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
        </tr>
}
    </tbody>
</table>
