@model Business.Entities.DocenteCurso

@{
    ViewData["Title"] = "RegistroNotasCreate";
}

<h1>RegistroNotasCreate</h1>

<h4>DocenteCurso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistroNotasCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDCurso" class="control-label"></label>
                <input asp-for="IDCurso" class="form-control" />
                <span asp-validation-for="IDCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDDocente" class="control-label"></label>
                <input asp-for="IDDocente" class="form-control" />
                <span asp-validation-for="IDDocente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
